.container {
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  padding: 0 15px 0 15px;

  @include desktop {
    //width: 824px;
    //padding: 0 8px 0 8px;
  }

  @include tablet {
    //width: 635px;
    //padding: 0 5px 0 5px;
  }
}
