<section>
    <p>First NFT collection with integrated Additional Reality</p>
    <button type="button">See Roadmap</button>
    <h1>Introducing Horror Fellow</h1>
    <p>SOLD OUT - 10,000 uniquely generated, cute and collectible pixel art souls with proof of ownership stored on the Solana
    blockchain.</p>
    <button type="button">Buy on DigitalEyes Marketplace</button>
    <p>Our mint is over, & our team is busy working on our roadmap. However, if you're looking to launch your own NFTs & join
    the Solana community - we can help</p>
    <img src="./images/telegram-cloud-photo-size-2-5341787041379236136-y 1.png" alt="">
</section>